.countries-list {
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: list;
  border: 1px white dashed;
  color: #99991f;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 0px;
  grid-template-columns: 255px;
  -ms-grid-columns: 255px;
  -ms-grid-rows:75px 35px auto 20px;
  grid-template-rows: 75px 35px auto 20px;
    grid-template-areas: "total"
  "search"
  "countrieslist"
  "last";
}

.countries-list .total-cases {
  grid-area: total;
  font-size: 2em;
  color: snow;
  display: -ms-grid;
  display: grid;
  gap: 4px;
  -ms-grid-columns: 35px 175px 35px;
    grid-template-columns: 35px 175px 35px;
  -ms-grid-rows: 24px auto;
    grid-template-rows: 24px auto;
    grid-template-areas: "totalHeader totalHeader totalHeader"
    "deathsBut digits recoverBut";
}

.countries-list .deaths {
  grid-template-areas: "totalHeader totalHeader totalHeader"
    "totalBut digits recoverBut";
}

.countries-list .recovered {
  grid-template-areas: "totalHeader totalHeader totalHeader"
    "deathsBut digits totalBut";
}

.countries-list .total {
  grid-template-areas: "totalHeader totalHeader totalHeader"
    "deathsBut digits recoverBut";
}

.countries-list .total-header {
  grid-area: totalHeader;
  text-align: center;
}

.countries-list .total-cases .deaths-button {
  grid-area: deathsBut;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: red;
  margin: auto auto;
}

.countries-list .total-cases .recovered-button {
  grid-area: recoverBut;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: green;
  margin: auto auto;
}

.countries-list .total-cases .total-button {
  grid-area: totalBut;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: grey;
  margin: auto auto;
}

.countries-list .total-cases .total-button:hover,
.countries-list .total-cases .deaths-button:hover,
.countries-list .total-cases .recovered-button:hover { 
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid silver;
}

.countries-list .total-cases .total-button:active,
.countries-list .total-cases .deaths-button:active,
.countries-list .total-cases .recovered-button:active { 
  cursor: pointer;
  transition: all 0.2s;
  border: 3px solid silver;
  filter: grayscale(40%);
}

.countries-list .total-cases .hidden-button {
  grid-area: none;
  cursor: none;
  display: none;
}

.countries-list .total-cases .total {
  grid-area: digits;
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 28pt;
  line-height: 40px;
  border-radius: 30px;
  background-color: gray;
  margin: auto;
}

.countries-list .total-cases .deaths-button .total { 
  background-color: hsla(0, 100%, 50%, 0.5);
}

.countries-list .search{
  grid-area: search;
  justify-self: center;
}

.countries-list .search table {
  width: 100%;
}

.countries-list .countries-table {
  grid-area: countrieslist;
  overflow: scroll;
  color: rgb(153, 153, 31);
  max-height: 100%;
  display: block;
  overflow: auto;
}

.countries-list tr th:hover {
  cursor: pointer;
  color: snow;
}

.countries-list .country-row td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.countries-list .country-row .total {
  white-space: nowrap;
}


.countries-list .country-row:hover {
  cursor: pointer;
  color: snow;
}

.countries-list img {
  width: fit-content;
  height: fit-content;
}

.countries-list .last-update {
  grid-area: last;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  color: snow;  
  margin-top: 3px;
}