.countries-list {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: list;
  border: 1px white dashed;
  color: #99991f;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 0px;
  grid-template-columns: 255px;
  -ms-grid-columns: 255px;
  -ms-grid-rows: 75px auto 30px;
  grid-template-rows: 75px auto 20px;
  grid-template-areas:
    "total"
    "countrieslist"
    "last";
}

.countries-list th {
  position: sticky;
}

.countries-list tr th:hover {
  cursor: pointer;
  color: snow;
}

.countries-list .country-row td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.countries-list .country-row:hover {
  cursor: pointer;
  color: snow;
}

.countries-list .total-cases {
  grid-area: total;
  font-size: 2em;
  color: snow;
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  gap: 5px;
  -ms-grid-columns: 40px 175px 40px;
  grid-template-columns: 40px 1fr 40px;
  -ms-grid-rows: 25px auto;
  grid-template-rows: 25px auto;
  grid-template-areas:
    "totalHeader totalHeader totalHeader"
    "deaths digits recover";
}

.countries-list .total-cases .total-header {
  grid-area: totalHeader;
  text-align: center;
}

.countries-list .total-cases .deaths-button {
  grid-area: deaths;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: red;
  margin: auto 0 auto auto;
}

.countries-list .total-cases .recover-button {
  grid-area: recover;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: green;
  margin: auto auto auto 0;
}

.countries-list .total-cases .deaths-button:hover,
.countries-list .total-cases .recover-button:hover {
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid silver;
}

.countries-list .total-cases .deaths-button:active,
.countries-list .total-cases .recover-button:active {
  cursor: pointer;
  transition: all 0.2s;
  border: 3px solid silver;
  filter: grayscale(40%);
}

.countries-list .total-cases .total {
  grid-area: digits;
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 18pt;
  line-height: 40px;
  border-radius: 30px;
  background-color: gray;
  margin: auto;
}

.countries-list .last-update {
  grid-area: last;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  color: snow;
}

.countries-list .countries-table {
  grid-area: countrieslist;
  overflow: scroll;
  border: 1px white dashed;
  color: rgb(153, 153, 31);
  max-height: 100%;
  display: block;
  overflow: auto;
}
