.full-screen-block {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #EDB021;
  z-index: 1000;
}

.full-screen-block-hidden {
  z-index: 0;
}

.full-screen-block .close-full-screen:hover {
  cursor: pointer;
  color: snow;
}

.full-screen-block .full-screen-but:hover {
  cursor: pointer;
  color: lavender;
}

.full-screen-block .full-screen-header {
  display: flex;
  width: 540px;
  max-height: 30px;
  margin: 10px auto 0 auto;
}

.full-screen-block .full-screen-header .full-screen-last-update {
  margin: auto;
  font-size: 20px;
}

.full-screen-block .full-screen-table-header {
  width: 935px;
  display: block;
  border: 1px solid #EDB021;
  border-collapse: collapse;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 34px;
  margin: 10px auto 0 auto;
  text-align: center;
}

.full-screen-block .full-screen-table {
  width: 935px;
  max-height: 80%;
  overflow: scroll;
  display: block;
  overflow: auto;
  color: #EDB021;
  border: 1px solid #EDB021;
  border-collapse: collapse;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 34px;
  margin: 0 auto;
}

.full-screen-block .country {
  color: #D7ECF4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  min-width: 250px;
  vertical-align: middle;
}

.full-screen-block .full-screen-table-header .country {
  min-width: 286px;
}

.full-screen-block .full-screen-table .country-row .td {
  vertical-align: middle;
  padding: 1px 5px;
}

.full-screen-block .deaths,
.full-screen-block .recovered,
.full-screen-block .confirmed {
  text-align: center;
  min-width: 105px;
}

.full-screen-block .recovered {
  color: #5D9700;
}

.full-screen-block .deaths {
  color: #D2374A;
}

.countries-list {
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-area: list;
  color: #EDB021;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0px;
  grid-template-columns: 255px;
  -ms-grid-columns: 255px;
  grid-template-rows: 115px 40px auto 30px;
  grid-template-areas: "total" "search" "countrieslist" "last";
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.countries-list .total-cases {
  grid-area: total;
  font-size: 2em;
  display: grid;
  gap: 4px;
  grid-template-columns: 25px 195px 25px;
  grid-template-rows: 115px;
  grid-template-areas: "recoverBut digits deathsBut";
}

.countries-list .total-cases .total .total-digits {
  width: 115px;
  height: 30px;
  background: rgba(237, 176, 33, 0.1);
  border: 1px solid #EDB021;
  border-radius: 28px;
  margin: auto auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  margin-top: 15px;
  padding: 5px;
}

.countries-list .deaths {
  grid-template-areas: "recoverBut digits totalBut";
  color: #D2374A;
}

.countries-list .recovered {
  grid-template-areas: "totalBut digits deathsBut";
  color: #5D9700;
}

.countries-list .recovered .total .total-digits {
  background: rgba(93, 151, 0, 0.1);
  border: 1px solid #5D9700;
}

.countries-list .deaths .total .total-digits {
  background: rgba(97, 0, 13, 0.3);
  border: 1px solid #D2374A;
}

.countries-list .total-cases .total-button, .countries-list .total-cases .recovered-button, .countries-list .total-cases .deaths-button {
  width: 100px;
  height: 25px;
  border-radius: 25px;
  align-self: center;
  justify-self: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  transition: border 0.2s filter 0.1s;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.countries-list .deaths-button {
  grid-area: deathsBut;
  background: #D2374A;
  border: 2px solid #D2374A;
  transform: rotateZ(-90deg);
  color: #D2374A;
}

.countries-list .recovered-button {
  grid-area: recoverBut;
  background: #5D9700;
  border: 2px solid #5D9700;
  transform: rotateZ(-90deg);
  color: #5D9700;
}

.countries-list .total-button {
  grid-area: totalBut;
  border: 2px solid #EDB021;
  background-color: #EDB021;
  transform: rotateZ(-90deg);
  color: #EDB021;
}

.countries-list .deaths .total-button {
  transform: rotateZ(-90deg);
}

.countries-list .total-cases .total-button:hover,
.countries-list .total-cases .deaths-button:hover,
.countries-list .total-cases .recovered-button:hover {
  cursor: pointer;
  border: 2px solid silver;
}

.countries-list .total-cases .total-button:active,
.countries-list .total-cases .deaths-button:active,
.countries-list .total-cases .recovered-button:active {
  cursor: pointer;
  border: 3px solid silver;
  filter: grayscale(40%);
}

.countries-list .total-cases .total {
  grid-area: digits;
  display: flex;
  text-align: center;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countries-list .total-cases .hidden-button {
  grid-area: none;
  cursor: none;
  display: none;
  z-index: 0;
}

.countries-list .total-cases .total .total-switch {
  border: 1px solid snow;
  border-radius: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  width: 100px;
  align-self: center;
  justify-self: center;
  margin-top: 3px;
  display: flex;
  height: 30px;
}

.countries-list .total-cases .total .total-switch-new {
  border: 1px solid snow;
  border-radius: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  width: 100px;
  align-self: center;
  justify-self: center;
  margin-top: 3px;
  display: flex;
  height: 30px;
}

.countries-list .total-cases .total .total-switch .switch-total {
  font-size: 14px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  top: 12px;
  margin-left: 10px;
}

.countries-list .total-cases .total .total-switch-new .switch-new {
  font-size: 14px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  top: 12px;
  margin-left: 10px;
}

.countries-list .total-cases .total .total-switch .switch-none,
.countries-list .total-cases .total .total-switch-new .switch-none {
  display: none;
}

.countries-list .total-cases .total .total-switch .switcher {
  display: block;
  z-index: 1;
  top: 2px;
  left: 17px;
  position: relative;
  width: 24px;
  height: 24px;
  background: #D7ECF4;
  border-radius: 50%;
  border: 1px solid #F6F5FA;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.38);
  transition: all 0.2s ease;
  cursor: pointer;
}

.countries-list .total-cases .total .total-switch-new .switcher-new {
  display: block;
  z-index: 1;
  top: 2px;
  left: 3px;
  position: relative;
  width: 24px;
  height: 24px;
  background: #D7ECF4;
  border-radius: 50%;
  border: 1px solid #F6F5FA;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.38);
  transition: all 0.2s ease;
  cursor: pointer;
  margin-right: 15px;
}

.countries-list .search {
  grid-area: search;
  justify-self: center;
}

.full-screen-block .full-screen-header input,
.countries-list .search input {
  border: 1px solid snow;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #0d0f11 !important;
  outline: none;
  height: 30px;
  width: 195px;
  color: #cccccc;
  font-size: 20px;
  text-align: center;
  resize: none;
  overflow: hidden;
  vertical-align: middle;
}

.full-screen-block .full-screen-header .material-icons,
.countries-list .search .material-icons {
  color: white;
  vertical-align: middle;
  transition: all 0.2s;
  width: 30px;
  text-align: center;
  margin: auto 0;
}

.full-screen-block .full-screen-header .keyboard:hover,
.countries-list .search .fullscreen:hover {
  color: silver;
  cursor: pointer;
  font-size: 28px;
}

.countries-list .countries-table {
  grid-area: countrieslist;
  overflow: scroll;
  max-height: 100%;
  display: block;
  overflow: auto;
  color: #EDB021;
  border: 1px solid #EDB021;
  border-collapse: collapse;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
}

.countries-list .countries-table .country-row img {
  vertical-align: middle;
}

.full-screen-block .full-screen-table .country-row td,
.countries-list .countries-table .country-row td {
  padding: 0 2px;
}

.countries-list .countries-table .country-row .country {
  color: #D7ECF4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 115px;
  min-width: 115px;
}

.full-screen-block .full-screen-table .country-row .total-deaths,
.countries-list .countries-table .country-row .total-deaths {
  color: #D2374A;
  white-space: nowrap;
  text-align: right;
  min-width: 100px;
}

.full-screen-block .full-screen-table .country-row .total-recovered,
.countries-list .countries-table .country-row .total-recovered {
  color: #5D9700;
  white-space: nowrap;
  text-align: right;
  min-width: 100px;
}

.full-screen-block .full-screen-table .country-row .total,
.countries-list .countries-table .country-row .total {
  white-space: nowrap;
  text-align: right;
  min-width: 100px;
}

.full-screen-block .full-screen-table .country-row:nth-child(2n),
.countries-list .country-row:nth-child(2n) {
  background: #212121;
}

.countries-list .country-row:hover {
  background: #515151;
  cursor: pointer;
}

.countries-list .country-row:active {
  background: #000;
  cursor: pointer;
}

.full-screen-block .last-update,
.countries-list .last-update {
  grid-area: last;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #EDB021;
  border: 1px solid #EDB021;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13pt;
  line-height: 33px;
}

.grid-wrapper .keyboard-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  width: fit-content;
  user-select: none;
  transition: bottom 0.8s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  z-index: 1002;
  background-color: rgba(45, 45, 45, 0.85);
  border-radius: 30px;
  border: 1px solid #EDB021;
}

.grid-wrapper .keyboard-wrapper .keyboard {
  border-radius: 8px;
  width: 430px;
  padding: 2px 0;
  transition: all 0.5s;
}

.grid-wrapper .keyboard-wrapper .keyboard .keyboard__row {
  text-align: center;
}

.grid-wrapper .keyboard--hidden {
  left: -100%;
}

.grid-wrapper .keyboard-wrapper .keyboard .keyboard__row .keyboard__keys {
  text-align: center;
}

.grid-wrapper .keyboard-wrapper .keyboard .keyboard__row .keyboard__key {
  height: 35px;
  width: 35px;
  margin: 2px 3px;
  border-radius: 8px;
  border: 1px solid grey;
  background: #324646;
  color: #EDB021;
  font-size: 1em;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  font-weight: 900;
}

.grid-wrapper .keyboard-wrapper .keyboard .keyboard__row .keyboard__key .sub {
  color: grey;
  display: block;
  align-self: end;
  padding: 5px 0 5px 0;
}

.grid-wrapper .keyboard-wrapper .keyboard .keyboard__row [data-fn=true] {
  background-color: grey;
}

.full-screen-block .full-screen-table .country-row:hover {
  background: #0e2222;
}

@media screen and (max-width: 1000px) {
  .full-screen-block .full-screen-table-header {
    width: 650px;
    font-size: 16px;
    line-height: 24px;
  }
  .full-screen-block .full-screen-table-header .country {
    min-width: 141px;
  }
  .full-screen-block .full-screen-table {
    width: 650px;
    font-size: 14px;
    line-height: 22px;
  }
  .full-screen-block .deaths, .full-screen-block .recovered, .full-screen-block .confirmed {
    text-align: center;
    min-width: 83px;
  }
  .full-screen-block .country {
    max-width: 105px;
    min-width: 105px;
    line-height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .full-screen-block .full-screen-header {
    width: 450px;
  }
  .full-screen-block .full-screen-header .full-screen-last-update {
    font-size: 15px;
  }
  .full-screen-block .full-screen-table-header {
    width: 500px;
    font-size: 12px;
    line-height: 18px;
  }
  .full-screen-block .full-screen-table {
    width: 500px;
    font-size: 12px;
    line-height: 18px;
  }
  .full-screen-block .country {
    line-height: 18px;
  }
  .full-screen-block .deaths, .full-screen-block .recovered, .full-screen-block .confirmed {
    text-align: center;
    min-width: 56px;
  }
  .grid-wrapper .keyboard-wrapper .keyboard {
    width: 278px;
  }
  .grid-wrapper .keyboard-wrapper .keyboard .keyboard__row .keyboard__key {
    height: 27px;
    width: 20px;
  }
}
/*# sourceMappingURL=countries-list.css.map */