@import "common-scss/#reset-css.scss";
@import "common-scss/#normalize-css.scss";

body {
  background-color: #0d0f11;
  padding: 10px;
}
.grid-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 255px 1fr 320px;
  grid-template-rows: 75px auto auto 75px;
  grid-template-areas:
    "list header table"
    "list map table"
    "list map chart"
    "list footer chart";
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 31px;
      letter-spacing: 0.25rem;
      color: rgba(215, 236, 244, 0.9);
      text-transform: uppercase;
      text-align: center;
    }

    border: 1px white dashed;
  }
  .footer {
    grid-area: footer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .footer__school {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .footer__developers {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: rgba(215, 236, 244, 0.9);
      text-align: center;
      .title {
        margin: 5px 0px 0px 0px;
        font-size: 14px;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
      }
      ul {
        display: flex;
        margin: 10px 0px 0px 0px;
        li {
          padding: 0px 10px;
          a {
            font-size: 16px;
            color: rgba(215, 236, 244, 0.9);
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .footer__year {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      span {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        color: white;
      }
    }
    border: 1px white dashed;
  }
}
//Позже стили снизу будут в отдельных scss файлах, как отдельные компоненты.
.counties-list {
  grid-area: list;
  border: 1px white dashed;
}
#map {
  grid-area: map;
  border: 1px white dashed;
}
.table {
  grid-area: table;
  border: 1px white dashed;
}
.chart {
  grid-area: chart;
  border: 1px white dashed;
}
