.table {
  grid-area: table;
  max-height: 400px;
  padding: 0px 7px;
}

.table .table__body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.table .table__body .table__current-country {
  min-width: 50%;
  max-width: 80%;
  padding: 0px 7px;
  background: rgba(237, 176, 33, 0.1);
  border: 1px solid #edb021;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.table .table__body .table__current-country span {
  max-height: 100%;
  max-width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #edb021;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .table__body .table__switch-mode {
  width: 50%;
  background: rgba(93, 151, 0, 0.1);
  border: 1px solid #5d9700;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.table .table__body .table__switch-mode span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #5d9700;
}

.table .table__body .table__switch-mode:hover {
  background: rgba(93, 151, 0, 0.15);
}

.table .table__body .table__common {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.table .table__body .table__common .table__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.table .table__body .table__common .table__title-all,
.table .table__body .table__common .table__title-last {
  min-width: 100%;
  min-height: 35px;
  background: rgba(97, 0, 13, 0.3);
  border: 1px solid #d2374a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.table .table__body .table__common .table__title-all span,
.table .table__body .table__common .table__title-last span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 21px;
  color: #d2374a;
}

.table .table__body .table__common .table__title-all {
  border-radius: 30px 30px 0px 0px;
}

.table .table__body .table__common .table__title-last {
  border-radius: 0px 0px 30px 30px;
}

.table .table__body .table__common .table__all-time,
.table .table__body .table__common .table__last-day {
  width: 100%;
  height: 50%;
  background-color: #d2374919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table .table__body .table__common .table__all-time .table__significations {
  border-bottom: 1px #d2374a solid;
}

.table .table__body .table__common .table__significations {
  min-width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.table .table__body .table__common .table__significations ul li {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 12px 0px;
}

.table .table__body .table__common .table__significations ul li span {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.table .table__body .table__common .table__significations ul li:nth-child(1) {
  color: #5d9700;
}

.table .table__body .table__common .table__significations ul li:nth-child(2) {
  color: #edb021;
}

.table .table__body .table__common .table__significations ul li:nth-child(3) {
  color: #d2374a;
  margin: 0px 0px 0px 0px;
}
/*# sourceMappingURL=table.css.map */