.countries-list {
  grid-area: list;
  border: 1px white dashed;
  color: #99991f;
  max-height: 100%;
  overflow: auto;
}

.countries-list th td:hover {
  cursor: pointer;
  color: snow;
}

.countries-list .country-row td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.countries-list .country-row:hover {
  cursor: pointer;
  color: snow;
}
