* {
  margin: 0;
  padding: 0;
  /* transition: all 0.3s; */
  box-sizing: border-box;
}

:root {
  --bg-color: #212121;
  --container-color: #2c2c2c;
}

body {
  cursor: default;
  font-size: calc(0.4em + 0.5vw + 0.6vh);
  text-align: center;
  background: var(--bg-color);
  color: lightblue;
}

header {
  width: 97vw;
  height: 2vh;
  border: 1px dotted green;
  margin: 0 auto;
}

main {
  width: 97vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container {
  background: var(--container-color);
  border-radius: 10px;
}

.left-block {
  width: 25vw;
  height: 93vh;
  border: 1px dotted green;
  border-radius: 1vw;
}

.left-block .container:not(:last-child) {
  margin-bottom: 10px;
}

.global-cases {
  height: 17vh;
}

.country-table {
  height: 60vh;
  padding: 10px 5px;
}

.country-table__country-search {
  position: relative;
  margin: 10px 0;
}

.country-search__input {
  border: 1px solid #6f6f76;
  background: none;
  border-radius: 15px;
  height: 32px;
  width: 90%;
  outline: none;
  color: #6f6f76;
  padding-left: 30px;
}

.country-search__icon {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #6f6f76;
}

.country-search__icon::before {
  content: "\e8b6";
  font-family: "Material Icons";
}

.last-update {
  height: 13vh;
}

.center-block {
  width: 50vw;
  border: 1px dotted green;
  border-radius: 1vw;
  margin: 0 10px;
}

.map {
  width: 50vw;
  height: 93vh;
}

.right-block {
  width: 23vw;
  height: 93vh;
  border: 1px dotted green;
  border-radius: 1vw;
}

.right-block .container:not(:last-child) {
  margin-bottom: 10px;
}

.right-table {
  height: 50vh;
}

.right-graph {
  height: 43vh;
}

footer {
  color: orange;
  width: 97vw;
  max-width: 97vw;
  height: 2vh;
  display: flex;
  justify-content: center;
  border: 1px dotted green;
  border-radius: 1vw;
  margin: 0 auto;
}

footer a {
  margin: 0 1vw;
  color: lightblue;
  text-decoration: none;
}

footer a:hover {
  color: snow;
}

footer img {
  width: 3vw;
  height: 2vh;
}

footer img:hover {
  box-shadow: 0px 0px 5px grey;
}
